.container {
    color: rgb(57, 132, 229);
    background-image: url(/src/img/naruto.avif);  
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }