.container {
    color: rgb(197, 229, 57);
    background-image: url(/src/images/naruto.avif);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }